<h1>Editando una Tarea</h1>

<%= form_with(model: @todo, local: true) do |form|%>

<%= form.label :descripción %>
<br><%= form.text_field :description %>
<br><%= form.submit 'actualizar'%>

<% end %>
<h2><%= link_to 'ir a los posts', root_path %></h2>